@media screen and (max-width: 1200px) {
   .container-fluid > div{
       margin-left: 24px;
       margin-right: 24px;
    }
}

@media screen and (max-width: 500px) {
    .heading > img{
        width: 190px;
    }

}